.navbar {
    padding-top: 5px;
}
.navbar span {
    float: left;
    text-align: center;
    padding: 13px 5px 0px 15px;
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
.navbar-right {
    float: right;
}

.navbar a:hover span{
    text-decoration: underline;
}

.navbar img {
    height: 24px;
    width: 24px;
    padding-top: 8px;
    padding-bottom: 0px;
    padding-right: 10px;    
}

.nav-button {
    padding: 5px 0px 0px 0px;
    float: right;
}

.nav-button a span{
    color: white;
    font-weight: bold;
    padding: 8px 15px 8px 15px;
    font-size: 13px;
    background-color: #4285f4;
    float: right;
    border-radius: 5%;
}

.nav-button a:hover span{
    text-decoration: none;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.box {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    margin-top: 10em;
    margin-left: 8em;
    margin-bottom: 1em;
    width: 25%;
}

a {
    text-decoration: none;
    color: darkslateblue;
    font-size: 10pt;
    margin-left: 5px;
}

a:hover{
    text-decoration: underline;
}

#the-five {
    width: 30px;
    height: 30px;
}

input:focus {
    outline:none;
}


.input-container {
    position:relative;
    margin:10px 30%;
    background:#fff;
    direction: ltr;
    width: 40%;
}

.input-field {
    height: 40px;
    border-radius: 35px;
    border: none;
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    box-shadow:0 0 5px #ccc;
}


#search-icon {
    position: absolute;
    color: #aaa;
    top: 30%;
    left: 10px;
    width: 5%;
    height: 5%;
}

#voice-search-icon {
    position: absolute;
    top: 30%;
    right: 1em;
    top: 7px; 
    width: 1.7em;
    height: 65%;
}

.row {
    text-align: center;
}

button {
    margin: 0.3em;
    border: none;
    background-color:  #eee;
    color: #666;
    border-radius: 5px;
    height: 2.5em;
    width: 9em;
}

.footer {
    background-color: #eee;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 2.5em;
    justify-content: center;
    vertical-align: center;
}

.footer a {
    float: left;
    color: black;
    font-weight: lighter;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: 0px;
    padding: 12px 0px 10px 5px;
}

.footer-right {
    float: right;
    margin-right: 28px;
}