.center {
    margin: 0 auto;
    text-align: center;
}

.box {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 20%;
}

a {
    text-decoration: none;
    color: darkslateblue;
    font-size: 10pt;
    margin-left: 5px;
}

a:hover{
    text-decoration: underline;
}

#the-five {
    width: 30px;
    height: 30px;
}

input:focus {
    outline:none;
}


.input-container {
    position:relative;
    margin:10px 30%;
    background:#fff;
    direction: ltr;
    width: 40%;
}

.input-field {
    height: 40px;
    border-radius: 35px;
    border: none;
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    box-shadow:0 0 5px #ccc;
}


#search-icon {
    position: absolute;
    top: 30%;
    left: 10px;
    width: 5%;
    height: 5%;
}

#voice-search-icon {
    position: absolute;
    top: 30%;
    right: 1em;
    top: 7px; 
    width: 1.7em;
    height: 65%;
}



button {
    margin: 0.3em;
    border: none;
    background-color:  #eee;
    color: #666;
    border-radius: 5px;
    height: 2.5em;
    width: 9em;
}